@import url(https://fonts.googleapis.com/css?family=Fira+Mono:regular);
html,
body {
  height: 100%;
}

body {
  font-family: Fira Mono;
  font-size: 2em;
  margin: 0;
  display: inline;
  text-align: center;
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
#status {
  font-size: 1rem;
}
